POSTGRES_DB=vkr_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=15432
REDIS_PORT=6379
BACKEND_PORT=8000
FRONTEND_PORT=5173
GATEWAY_PORT=8080
FLOWER_PORT=5555
LIBRETRANSLATE_PORT=5000
LT_LOAD_ONLY=en,ru
LT_DISABLE_WEB_UI=true
